# Database Configuration
DB_USER=possapp
DB_PASSWORD=possapp123

# JWT Configuration (generate with: openssl rand -base64 64)
JWT_SECRET=JhuMKnBHz/rKSx3cxn20KuCvWJUlxHI/nE3l50yklAWfBkL2N9UavxnJwy4ETHL+Wo2Fl+adVHdTvrOXzv9tyg==

# Server Configuration
SERVER_PORT=8080
